@import "core/_mixin.scss";
html, body { margin:0; padding:0; height:100%; }

// table 等分
@mixin table-equal($children: li) {
  display: table;
  table-layout: fixed;
  width: 100%;
  $childrenEle: li div p a span strong;
  @if index($childrenEle, $children) {
    #{$children} {
      display: table-cell;
    }
  }
  @else {
    .#{$children} {
      display: table-cell;
    }
  }
}

.nav-links{
  @include table-equal;
}
