<section class="startArea">

    <div class="startArea-title text-center">选择编辑类型</div>

    <div class="container startArea-list">
        <a class="startArea-item startArea-static" href="http://www.yi-gather.com/editor/app/static.html">
            <div class="startArea-item-background">
                静态编辑
            </div>
        </a>

        <a class="startArea-item startArea-activity" href="#/article">
            <div class="startArea-item-background">
                活动编辑
            </div>
        </a>
    </div>

</section>
